/* Remove the annoying unified extensions button from the toolbar */
#unified-extensions-button{
    width: 0.1px;
    padding-inline: 0 !important
}
#unified-extensions-button > .toolbarbutton-icon{
    width: 0 !important;
}
